<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Nomes</title>
</head>
<body>

<div th:fragment="conteudoNomes">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card shadow p-5 bg-white" style="width: 100%; max-width: 600px;">
            <h2 class="text-center text-primary mb-4">Alunos</h2>
            <ul class="list-group list-group-flush fs-5 text-center">
                <li class="list-group-item py-3">Wellington Joaquim Ribeiro da Silva - RA 13626</li>
                <li class="list-group-item py-3">Samuel Alves de Santana Junior - 13715</li>
                <li class="list-group-item py-3">Igor Antonucci e Quadros - RA 13636</li>
                <li class="list-group-item py-3">Thiago da Silva Felipe - RA 13638</li>
                <li class="list-group-item py-3">Danilo Antonio Rosa - 13721</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
